@import url(general.css);

html{
    scroll-behavior: smooth;
}
body{
    background-color: var(--color-three);
}



/*      TITULOS DE CADA SECCION     */
.title{
    /* min-width: 350px; */
    max-width: 1200px;
    margin: auto;
    height: 80px;
    padding-top: 10px;
    clip-path: polygon(0 0, 100% 0%, 100% 54%, 51% 100%, 0 52%);
    display: flex;
    justify-content: center;
    align-items: start;
    font-size: 2.5em;
    background: var(--color-one);
    color: var(--color-two);
}



/*      INICIO      */
#home{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*TITULO*/
#home > h1{
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 3em;
    font-family: var(--font-two);
    font-weight: 700;
    color: var(--color-one);
}
#home > i:nth-child(1){
    color: var(--color-one);
    font-size: 5em;
    margin: 1em auto 0;
}
/*ICONO FLECHA*/
#home > a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    animation: pulse 2s infinite;
    color: var(--color-two);
    text-decoration: none;
}
#home > a > i{
    font-size: 3em;
    margin: 3em auto;
}
/*ANIMACION DEL ICONO FLECHA*/
@keyframes pulse{
    0% {
        transform: translate(0, 0); 
        opacity: 0.5;
    }
    50% {
        transform: translate(0, 10px);
        opacity: 0.99;
    }
    100% {
        transform: translate(0, 0); 
        opacity: 0;
    }
}



/*      TRABAJOS REALIZADOS     */
#jobs{
    min-height: 100vh;
}
/*CONTENEDOR DE TARJETAS*/
.container{
    width: 100%;
    max-width: 900px;
    margin: 2em auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
/*CADA TARJETA*/
.card{
    max-width: 11.5em;
    background: var(--color-two);
    border-radius: 10px;
    margin: 1em;
    padding: .3em;
    transition: all .8s ease;
}
.card:hover{
    transform: scale(1.1);
}
/*IMAGEN*/
.card img{
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.card > div:nth-child(1){
    display: flex;
    align-items: center;
    justify-content: center;
}
/*CONTENEDOR DEL NOMBRE, TEXTO Y BOTON*/
.card > div{
    text-align: center;
}
/*NOMBRE*/
.card > div > .name{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    font-weight: 600;
    color: var(--color-one);
}
.card div .text{
    min-height: 100px;
    font-size: 1em;
}
/*ENLACE BOTON*/
.card > div > a{
    width: 80px;
    height: 30px;
    border-radius: 3px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background: #e74c3c;
    color: #f2f2f2;
}



/*      CONTACTO        */
#contact{
    width: 100%;
    margin: 5em auto 0;
}
/*CONTENEDOR DEL FORMULARIO*/
.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2em auto;
    padding: 1em;
}
/*FORMULARIO*/
form{
    width: 400px;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: var(--color-one);
    border: 1px solid var(--color-one);
    border-radius: 8px;
    padding: 30px;
}
.wrapper > form > h3{
    height: 40px;
    text-decoration: underline;
    color: var(--color-two);
    font-size: 1.5em;
}
/*CONTENEDOR DE CADA INPUT*/
.field {
    position: relative;
    border-bottom: 2px solid var(--color-one);
    margin: 15px 0;
}
.field label {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    color: var(--color-one);
    font-size: 16px;
    pointer-events: none;
    transition: 0.15s ease;
}
/*INPUT*/
.field input {
    width: 100%;
    height: 40px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    color: var(--color-two);
}
/*EFECTO DEL INPUT-LABEL*/
.field input:focus~label,
.field input:valid~label {
    font-size: 0.8rem;
    top: 10px;
    transform: translateY(-120%);
}
/*BOTON ENVIAR*/  
button {
    background: var(--color-two);
    color: #000;
    font-weight: 600;
    border: none;
    padding: 12px 20px;
    cursor: pointer;
    border-radius: 3px;
    font-size: 16px;
    border: 2px solid transparent;
    transition: 0.3s ease;
}
/*EFECTO BOTON*/
button:hover {
    color: var(--color-two);
    border-color: var(--color-two);
    background: rgba(255, 255, 255, 0.15);
}
form > span{
    margin-top: 2em;
    font-size: .8em;
    font-style: italic;
}



/*      REDES       */
#redes{
    width: 300px;
    height: 80px;
    margin: 0 auto 5em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid var(--color-one);
}
#redes > h3{
    font-size: 1.5em;
    color: var(--color-one);
}
#redes > div{
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#redes > div > a i{
    font-size: 2em;
    color: var(--color-three);
}
#redes > div > a .fa-whatsapp{
    color: #25D366;
}
#redes > div > a .fa-facebook{
    color: #3b5998;
}


