@import url(general.css);

body{
    background-color: var(--color-three);
}



/*CONTENEDOR GENERAL*/
main{
    width: 100%;
    max-width: 900px;
    margin: auto;
}



/*CONTENEDOR*/
main > section{
    padding: 10px;
    margin: 2em auto;
    text-align: center;
}



/*TITULO GENERAL*/
main > section > h2{
    font-size: 2em;
}



/*CONTENEDOR DE CADA SECCION*/
main > section > fieldset{
    max-width: 500px;
    padding: 10px;
    margin: 4em auto;
    background-color: var(--color-one);
    box-shadow: 12px 12px 8px -7px rgba(255, 255, 255, 0.47);
}


/*ALINEACION DE LA SECCION CLIENTE*/
main > section > fieldset:nth-child(2){
    text-align: left;
}
main > section > fieldset > div > p > span{
    font-weight: bold;
    text-decoration: underline;
}



/* TITULO DE CADA SECCION */
main > section > fieldset > legend{
    padding: 0 2em;
    margin: auto; 
    text-transform: uppercase;
    background: var(--color-two);
    color: var(--color-three);
    border: 1px solid var(--color-three);
}
/*SUBTITULO DE LA SECCION DE TRABAJO*/
main > section > fieldset > h3{
    padding-left: 10px;
    text-align: left;
}



/*CARROSEL DE FOTOS*/
section {
  text-align: center;
}
.scroll-arrow {
  width: 10%;
  display: inline-block;
  position: relative;
  cursor: pointer;
  transition: 0.2s;
}
ul {
  width: 70%;
  max-width: 500px;
  scroll-behavior: smooth;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  text-align: center;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}
  ul::-webkit-scrollbar {
  display: none;
}
li {
  height: 300px;
  list-style: none;
  display: inline-flex;
  align-items: center;
  position: relative;
  vertical-align: middle;
  transition: 0.2s;
}
img {
  width: 250px;
  margin-right: 10px;
}